<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Créer compte entreprise</title>
</head>

<body>

               <h2>Formulaire d'inscription</h2>

                <form action="/addcompany" method="POST">


                    <input type="name" id="name" name="name" placeholder="Nom">

                    <input type="number" id="siret" name="siret" placeholder="SIRET">

                    <input type="mail" id="mail" name="mail" placeholder="Adresse e-mail">
                    
                    <input type="name" id="directeur" name="directeur" placeholder="Nom du directeur">

                    <input type="password" id="password" name="password" placeholder="Mot de passe">

                    <input type="submit" value="Envoyer">

                </form>

    
</body>
</html>