<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="./index.css">
		<title>Connexion</title>
	</head>
	<body>
		<div class="container">

			<img src="./images/hrlogo.png" alt="" srcset="">

			<div class="login">
				<form id="login" method="post" action="/login">

					<label>
						<b>Adresse e-mail</b>
					</label>
					<input type="text" name="mail" id="mail" placeholder="Adresse e-mail">
					<br><br>

					<label>
						<b>Mot de passe</b>
					</label>
					<input type="Password" name="password" id="password" placeholder="Password">
					<br><br>

					<input type="submit" name="log" id="log" value="Login" class="btn-hover color-2">
					<br><br>


				</form>
				<a href="/addcompany">
					Créer compte entreprise</a>
			</div>

		</div>

	</body>
</html>
